# Database
DATABASE_URL="postgresql://username:password@localhost:5432/car_rental_db?schema=public"

# JWT
JWT_SECRET="secretKey"
JWT_EXPIRES_IN="24h"

# Server
PORT=3000
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:4200"

# Email Configuration (for forgot password)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASSWORD="your-app-password"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
